
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}


nav {
  background-color: #007bff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: white;
  color: #007bff;
}


h1 {
  color: #333;
  margin-top: 40px;
}

p {
  font-size: 18px;
  color: #666;
}


ul {
  padding: 0;
}

ul li {
  background-color: white;
  padding: 10px 15px;
  margin: 8px auto;
  width: 50%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #ffa3a3;
  border: none;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #000000;
}
